.v-data-table-header {
  background-color: #ffffff;
}

.v-card {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05) !important;
  border-radius: 10px;
}

.v-sheet {
  background-color: white;
  border-radius: 5px;
}

.v-pagination .v-pagination_navigation {
  box-shadow: none;
  border: 1px solid #dee2e6;
  color: #6c757d;
}
.countFont input::placeholder {
  color: red !important;
  opacity: 1;
  font-size: 12px;
}
.countFont input {
  padding-top: 0px;
  padding-bottom: 0px;
}
.countFont .v-input__control {
  height: 30px;
}

.bomTreeTable {
  background-color: white;
  padding-left: 56px !important;
  padding-right: 0px !important;
}

.text-start {
  border-right: 1px solid #d8dadb;
  border-bottom: 1px solid #d8dadb;
}
.second-tableBorder {
  border-left: 1px solid #d8dadb;
}
.detailTable {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
