.card-shadow {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05) !important;
}

// .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {

// }

.text-box-style {
  border-radius: 10px !important;
  background: #e7ebee;
  box-shadow: none !important;
}

.text-box-bg {
  background: #e7ebee;
}

tr.v-data-table__selected {
  background: #97c6f5 !important;
}
