input[type="text"] {
  background-color: rgb(146, 73, 73);
  border: 1px solid rgba(148, 148, 148, 0.479);
  border-radius: 10px;
}

.bg-gradient-success {
  background-image: linear-gradient(310deg, #17ad37, #98ec2d) !important;
}

.bg-gradient-primary {
  background-image: linear-gradient(310deg, #7928ca, #ff0080) !important;
}

.text-gradient.text-success {
  background-image: linear-gradient(310deg, #17ad37, #98ec2d) !important;
}

.card-shadow {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05) !important;
}

.theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
  background: #e7ebee;
  box-shadow: none !important;
}
