input[type="text"] {
  background-color: white;
  border: 1px solid rgba(97, 117, 134, 0.2);
  border-radius: 4px;
}

.bg-gradient-success {
  background-image: linear-gradient(310deg, #17ad37, #98ec2d) !important;
}

.bg-gradient-primary {
  background-image: linear-gradient(310deg, #7928ca, #ff0080) !important;
}

.text-gradient.text-success {
  background-image: linear-gradient(310deg, #17ad37, #98ec2d) !important;
}
