.warehousing .v-data-table-header {
  background-color: #f6f8f9;
}

.warehousing .v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.warehousing .v-data-table > .v-data-table__wrapper > table > thead > tr > td,
.warehousing .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
.warehousing .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
  height: 26px;
}

tr.v-data-table__selected {
  background: #97c6f5 !important;
}

.select_warehousing {
  font-size: 13px;
}
