.warehousing .v-data-table-header {
  background-color: #f6f8f9;
}

.v-data-table-header {
  background-color: #ffffff;
}

/* tr.v-data-table__selected {
  background: #97c6f5 !important;
} */
tr.v-data-table__selected {
  background: #97c6f5 !important;
}

.select_warehousing {
  font-size: 13px;
}
.v-card {
  background-color: white;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
  border-radius: 10px;
}

.v-sheet {
  background-color: white;
  border-radius: 5px;
}

.v-pagination .v-pagination_navigation {
  box-shadow: none;
  border: 1px solid #dee2e6;
  color: #6c757d;
}
.closeBtn {
  border: 1px solid #72e072;
}
.countFont input::placeholder {
  color: red !important;
  opacity: 1;
  font-size: 12px;
}
.countFont input {
  padding-top: 0px;
  padding-bottom: 0px;
}
.countFont .v-input__control {
  height: 30px;
}
