.v-data-table-header {
  background-color: #f6f8f9;
}
.deleteBtn {
  border: 1px solid #1976d2;
  margin-top: 20px;
}
.addBtn {
  margin-top: 20px;
}
.editRow {
  margin-top: 0px;
}
.editRow .v-input__control {
  height: 32px;
}
.file-image {
  border: 2px dotted lightgray;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-close-button {
  float: right;
  margin-left: -34px;
  color: #1976d2;
  height: 15px;
  width: 15px;
}
.file-preview-Box {
  height: 80px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
