.v-data-table-header {
  background-color: #ffffff;
}

.v-card {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05) !important;
  border-radius: 10px;
}

.v-sheet {
  background-color: white;
  border-radius: 5px;
}

.v-pagination .v-pagination_navigation {
  box-shadow: none;
  border: 1px solid #dee2e6;
  color: #6c757d;
}

.vue__time-picker input.display-time {
  border: 1px solid #d2d2d2;
}

.timeBox {
  border: 1px solid #000000;
}

.v-text-field.v-text-field--enclosed .v-text-field__details {
  padding-top: 0px;
  margin-bottom: 0px;
}

::v-deep .v-text-field__details {
  display: none;
}

::v-deep .v-slide-group__content {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  white-space: nowrap;
  height: 42px;
}
