.warehousing .v-data-table-header {
  background-color: #f6f8f9;
}

tr.v-data-table__selected {
  background: #97c6f5 !important;
}

.select {
  max-width: 89px;
  font-size: 12px;
}
.editBtn {
  border: 1px solid #1976d2;
}
