.sidebar-main-text {
  text-align: center;
  color: #1290ff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.25rem !important;
}
.v-list-item__title {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}
.scheduleBar {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
}
.todayListBox {
  background-color: #27d98f;
  height: 20px;
  width: 20px;
  margin-top: 11px;
  border-radius: 25%;
}
.v-application .text-h4 {
  font-family: "Pretendard" !important;
}
.v-application .text-h5 {
  font-family: "Pretendard" !important;
}
.v-application .text-h6 {
  font-family: "Pretendard" !important;
}
.v-application .text-caption {
  font-family: "Pretendard" !important;
}
.v-application .text-subtitle-1 {
  font-family: "Pretendard" !important;
}
.v-application {
  font-family: "Pretendard" !important;
}
.loginCard {
  font-family: "Pretendard" !important;
}
.rowBox {
  margin: 2px !important;
  height: 40px;
}
.v-subheader {
  padding: 0px;
}
.editBtn {
  border: 1px solid #f1fff1;
}
.home {
  cursor: pointer;
  padding: 20px !important;
}

.alarmItem {
  width: 360px;
}
.alarmItem:hover {
  background: lightgrey;
  cursor: pointer;
}

.btn-gradient {
  background-image: linear-gradient(
    to right,
    rgb(153, 218, 1),
    rgb(49, 182, 56)
  );
  border: 0;
  color: rgba(var(--text-color));
}

#result .v-btn {
  min-width: 36px;
  width: 36px;
  border-radius: 11px;
}

// .shadow {
//   background-image: linear-gradient(310deg, #82d616, #82d616);
// }
.container::-webkit-scrollbar {
  width: 10px;
}
.container::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
.container::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.v-list-item--active {
  background: white;
  box-shadow: 0 10px 27px 0 rgb(0 0 0 / 5%);
  border-radius: 0.375rem;
}

.border-radius-md {
  border-radius: 0.5rem !important;
}

.icon-btn-shadow {
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12),
    0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07) !important;
  // background-image: linear-gradient(310deg, #82d616, #82d616);
}

// .active-item-title {
//   font-size: 20px !important;

//   background-color: #f3f4fd;
//   .v-list-item__title {
//     color: #000000;
//   }
// }

.item_title {
  color: #b5b4c7;
}

.v-navigation-drawer__content {
  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }
}

// .v-navigation-drawer__content:hover {
//   overflow-y: auto;
// }

.v-navigation-drawer__content::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.v-navigation-drawer__content::-webkit-scrollbar-thumb {
  height: 15%; /* 스크롤바의 길이 */
  //background: #4980FF; /* 스크롤바의 색상 */
  background: #ececec; /* 스크롤바의 색상 */

  border-radius: 15px;
}

.v-navigation-drawer__content::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /*스크롤바 뒷 배경 색상*/
}

.theme--light.v-icon {
  color: #222;
}

// .active-item-title .v-list-item__content,
// .v-list--dense .v-list-item .v-list-item__content {
//   color: #b5b4c7;
// }
