.todayFont {
  font-size: 12px;
  color: #a1a1a1;
}
.graphBox {
  //height: 350px;
  //margin: 0 auto;
  overflow-y: scroll;
  //margin-top: 30px;
  //width: 30000px;
}
.totalBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.filterBox {
  width: 20%;
}
.filterBtnBox {
  background-color: #f6f8f9 !important;
  height: 700px;
  margin-right: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll;
}
.calendarBox {
  height: 650px;
  width: 97%;
}
.addBtn {
  border: 1px solid #4caf50;
}
.view-select {
  border: 1px solid #4caf50;
}
.dataBox {
  display: flex;
  justify-content: center;
}
.changeBtn {
  border: 1px solid #4caf50;
}
.outBox {
  position: relative;
}
.innerBox {
  position: absolute;
  top: 2px;
  left: 200px;
}
.innerTextBox {
  position: absolute;
  top: 5px;
  left: 83px;
  font-size: 11px;
}
// #B1D8FFFF
.toastui-calendar-timegrid-scroll-area {
  display: none;
}
.toastui-calendar-panel.toastui-calendar-time {
  overflow-y: hidden;
}
.dateBox {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
.menuBox {
  width: 350px;
}
.v-menu__content {
  min-width: 0px !important;
}
.highlightFont input::placeholder {
  color: red !important;
  opacity: 1;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: 0px 0px 0px 0px;
}
