.warehousing .v-data-table-header {
  background-color: #f6f8f9;
}

.warehousing .v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.warehousing .v-data-table > .v-data-table__wrapper > table > thead > tr > td,
.warehousing .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
.warehousing .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
  height: 26px;
}

tr.v-data-table__selected {
  background: #97c6f5 !important;
}
.closeBtn {
  border: 1px solid #72e072;
}
.v-card {
  background-color: white;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
  border-radius: 10px;
}
